<div class="row col-md-10 post">
    <h2>
        {{post.post_title}}
    </h2>
</div>
<div class="row col-md-10 post">
    <p>
        <span class="post-body">{{post.post_body}}</span>
    </p>
</div>
<div class="row col-md-10 post">
    <p>
        Created by {{post.user.user_name}} on {{format_date post.created_at}}
    </p>
</div>

{{#if post.comments.length}}
<div class="col-md-6 comment-list">
    <h3>Comments:</h3>

    {{#each post.comments as |comment|}}
    <div class="row mb-2">
        <div class="col-md-8">
            <h5>
                {{comment.comment_body}}
            </h5>
            <p>Created by 'unknown' on {{format_date comment.created_at}}</p>
            {{!-- {{#if comment.users.length}}
                <p>Created by {{comment.users[0].user_name}} on {{format_date comment.created_at}}</p>
            {{else}}
                <p>Created by 'unknown' on {{format_date comment.created_at}}</p>
            {{/if}} --}}
        </div>
        <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}

<script src="../js/post-detail.js"></script>